style.avatarWrapper {
  display: inline-block;
}

.avatarBox {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: 300px;
  border: solid 3px black;
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 12px;
}

.avatarImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgb(33, 31, 31);
}

.boxAvatarTags {
  display: flex;
}
.avatarStyleDescriptionName {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.avatarStyleDescription {
  color: rgb(76, 79, 79);
}

.boxAvatarTags {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 2px rgb(74, 74, 74);
  width: 300px;
}

.boxAvatarTags ul {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.boxAvatarTags ul li {
  border-right: solid 2px rgb(74, 74, 74);
  padding: 10px;
  background-color: rgb(187, 187, 186);
  border-radius: 0px;
  width: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.avatarNumber {
  font-weight: 500;
}
