.FriendListItemBox {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 8px;
}
.online {
  color: rgb(0, 119, 28);
}
.offline {
  color: rgb(119, 0, 0);
}
.status {
  height: 10px;
}
